.loading {
  width: 400px;
  height: 400px;
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }
  .loading-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .loading-box > .loading-box-circle {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border-radius: 50%;
      animation: toggle 1s infinite ease;
      margin-left: auto;
      margin-right: auto; }

.loading > .loading-box:nth-child(1) {
  transform: rotateZ(15deg); }
  .loading > .loading-box:nth-child(1) > .loading-box-circle {
    animation-delay: 40ms; }

.loading > .loading-box:nth-child(2) {
  transform: rotateZ(30deg); }
  .loading > .loading-box:nth-child(2) > .loading-box-circle {
    animation-delay: 80ms; }

.loading > .loading-box:nth-child(3) {
  transform: rotateZ(45deg); }
  .loading > .loading-box:nth-child(3) > .loading-box-circle {
    animation-delay: 120ms; }

.loading > .loading-box:nth-child(4) {
  transform: rotateZ(60deg); }
  .loading > .loading-box:nth-child(4) > .loading-box-circle {
    animation-delay: 160ms; }

.loading > .loading-box:nth-child(5) {
  transform: rotateZ(75deg); }
  .loading > .loading-box:nth-child(5) > .loading-box-circle {
    animation-delay: 200ms; }

.loading > .loading-box:nth-child(6) {
  transform: rotateZ(90deg); }
  .loading > .loading-box:nth-child(6) > .loading-box-circle {
    animation-delay: 240ms; }

.loading > .loading-box:nth-child(7) {
  transform: rotateZ(105deg); }
  .loading > .loading-box:nth-child(7) > .loading-box-circle {
    animation-delay: 280ms; }

.loading > .loading-box:nth-child(8) {
  transform: rotateZ(120deg); }
  .loading > .loading-box:nth-child(8) > .loading-box-circle {
    animation-delay: 320ms; }

.loading > .loading-box:nth-child(9) {
  transform: rotateZ(135deg); }
  .loading > .loading-box:nth-child(9) > .loading-box-circle {
    animation-delay: 360ms; }

.loading > .loading-box:nth-child(10) {
  transform: rotateZ(150deg); }
  .loading > .loading-box:nth-child(10) > .loading-box-circle {
    animation-delay: 400ms; }

.loading > .loading-box:nth-child(11) {
  transform: rotateZ(165deg); }
  .loading > .loading-box:nth-child(11) > .loading-box-circle {
    animation-delay: 440ms; }

.loading > .loading-box:nth-child(12) {
  transform: rotateZ(180deg); }
  .loading > .loading-box:nth-child(12) > .loading-box-circle {
    animation-delay: 480ms; }

.loading > .loading-box:nth-child(13) {
  transform: rotateZ(195deg); }
  .loading > .loading-box:nth-child(13) > .loading-box-circle {
    animation-delay: 520ms; }

.loading > .loading-box:nth-child(14) {
  transform: rotateZ(210deg); }
  .loading > .loading-box:nth-child(14) > .loading-box-circle {
    animation-delay: 560ms; }

.loading > .loading-box:nth-child(15) {
  transform: rotateZ(225deg); }
  .loading > .loading-box:nth-child(15) > .loading-box-circle {
    animation-delay: 600ms; }

@keyframes toggle {
  from {
    opacity: 0;
    transform: scale(0, 0); }
  to {
    opacity: 1;
    transform: scale(1.5, 1.5); } }
